<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ngames }} Games Today</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<div id="home-container">
    <h1 id="home-header">{{ ngames }} Games Today</h1>
    <br>
    {% if error %}
    <p id="error">{{error}}</p>
    {% endif %}

<body>
    <form method="post" id="chat-widget-home">
        <div id="name-input">
            <label for="name">Enter your username</label>
            <input type="text" id="name" name="name" placeholder="Enter name" value="{{name}}" />
        </div>

        <div class="game-container">
            {% for game in games %}
                <div class="game" id="game{{ loop.index }}">
                    <div class="status">
                        <h2>{{ game.status }}</h2>
                    </div>
                    <div class="team team1">
                        <img src="{{ game.logo1 }}" width="75" height="75">
                        <span>{{ game.team1 }}</span>
                        <span>{{ game.score1 }}</span>
                    </div>
                    <div class="team team2">
                        <img src="{{ game.logo2 }}" width="75" height="75">
                        <span>{{ game.team2 }}</span>
                        <span>{{ game.score2 }}</span>
                    </div>
                    <div class="chat-button">
                        <button name="code" value="{{ game.chatcode }}">Chat</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
    
</body>
</html>
